<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <title></title>
</head>
<body>

    <form method="POST" action="/index">
        <br></br>
        <h1>1.Choose one animal</h1>
        <div class="options">
        <input type="radio" name="animal"  value="1" > dog
        <input type="radio" name="animal"  value="2"> cat
        <input type="radio" name="animal"  value="3"> bird
        </div>
        <br></br>
        

        <h1>2.Choose a topic </h1>
        <div class="options">
        <input type="radio" name="topic" index = 1 value="1"> CS
        <input type="radio" name="topic" index = 2 value="2"> DU
        <input type="radio" name="topic" index = 3 value="3"> Entrep
    </div>
    <br></br>

        <h1>3.Choose a sport </h1>
        <div class="options">
        <input type="radio" name="sport" index = 1 value="1"> football
        <input type="radio" name="sport" index = 2 value="2">volleyball
        <input type="radio" name="sport" index = 3 value="3"> tennis
        </div>
        <br></br>

        <h1>4.Choose one food </h1>
        <div class="options">
        <input type="radio" name="food" index = 1 value="1"> pizza
        <input type="radio" name="food" index = 2 value="2"> burger
        <input type="radio" name="food" index = 3 value="3"> iasa rice
    </div>
    <br></br>

        <h1>5.Choose one brand </h1>
        <div class="options">
        <input type="radio" name="brand" index = 1 value="1"> gucci
        <input type="radio" name="brand" index = 2 value="2"> louis vuitton
        <input type="radio" name="brand" index = 3 value="3"> ralph lauren
    </div>
    <br></br>

        <h1>6.Choose a gum brand </h1>
        <div class="options">
        <input type="radio" name="gum" index = 1 value="1"> mentos
        <input type="radio" name="gum" index = 2 value="2"> orbit
        <input type="radio" name="gum" index = 3 value="3"> hubba bubba
    </div>
    <br></br>

        <h1>7.Choose a country </h1>
        <div class="options">
        <input type="radio" name="country" index = 1 value="1"> USA
        <input type="radio" name="country" index = 2 value="2"> Germany
        <input type="radio" name="counrty" index = 3 value="3"> Italy
    </div>
        <br></br>

        <div class="button2">
            <input type="submit">
        </div>


    </form>


</body>
</html>